
<template name="backtester">
    <div id="main2">
        <h2>Backtester</h2>
        <p>Put in your own rules or select one of your strategies
            with pre-determined rules via the tool bar, and see how they would have
            performed over a period of time in the past. A stock will be
            bought when it fits the criteria and sold as soon as
            it no longer fits. The Backtester system works on a quartely basis i.e
            criteria is checked at each quarter periodically.</p>
        <form id="backtest" action="/backtester">
            <p>Rules:</p>
            <ul id="rules" style="color: green">
                <li>{{> variable}}
                    {{> operator}}
                    {{> variable}}
                    <button class="initialDelete"> &times; </button>
                </li>
            </ul>
            <input type="submit" class="add button1" value="Add Rule">
            <p>Buy Top: <input type="number" id="quantity" name="quantity" min="1" max="100"></p>
            <p>In sector: {{> sector}}</p>
            <p>From: <input type="date" id="start" name="backtest-start"
                            value="2010-01-01"
                            min="2000-01-01" max="2019-06-01">
                To: <input type="date" id="end" name="backtest-end"
                           value="2018-01-01"
                           min="2000-01-02" max="2019-06-02">
            </p>
            <input type="submit" value="Submit" class="search button1" style="display: inline-block;
                                                                      width: 200px; height: 50px;">
            <input type="submit" value="Save Rules" class="save button1" style="display: inline-block;
                                                                      width: 200px; height: 50px;">
        </form> <br>
        <div id="errors"></div>
        <div class="hrb">&nbsp;</div>
        <div id="results"></div>
    </div>
</template>