<template name="discovery">
    <div id="main2">
            <h2>Discovery</h2>
            <p>Generate your own unique strategy!</p>
            <form>
                <input type="submit" class="create button1" value="Submit"
                       style="width: 200px; height: 50px;">
            </form>
            <p>This may take up to several days to finish,
                you will be emailed once this is complete and
                your strategy will be added to your collection
                of strategies. </p>
            <div class="hrb">&nbsp;</div>
            <div id="strategyInfo">
                <h2>Your Strategies</h2>
                <h3>Tiny Titans</h3>
                <p>James O'Shaughnessy Tiny Titans is a small-cap momentum investing strategy set out by US fund
                    manager James O'Shaughnessy in his 1996 book, What Works on Wall Street. It combines momentum
                    and value factors and focuses on stocks capitalised at greater than £15m but less than £150m.
                    Its key measures include the price to sales ratio and 1-year relative strength. O'Shaughnessy
                    wrote: "Studies are nearly unanimous in their findings that small stocks
                    (those in the lowest two deciles) do significantly better than large ones.
                    too have found tremendous returns from tiny stocks." He found that this strategy produced an
                    annual compound return of 20.05% between 1963 and 2009 (source: Stockopedia).</p>
                <h3>Zulu Principle</h3>
                <p>The Jim Slater Zulu Principle Screen hunts for growth at a reasonable price (GARP) stocks.
                    The idea is to find companies whose valuations are not excessive relative to their pace of earnings
                    growth. The screen has returned 196% in the UK over the last five years, which is an annualized
                    24% return (source: Stockopedia).</p>
            </div>
    </div>
</template>
