<template name="variable">
    <input list="variable" id="variableInput">
    <datalist id="variable">
        <option value="open(1)" disabled>Technical</option>
        <option value="high(1)" disabled>Technical</option>
        <option value="low(1)" disabled>Technical</option>
        <option value="close(1)" disabled>Technical</option>
        <option value="volume(1)" disabled>Technical</option>
        <option value="dividends(1)" disabled>Technical</option>
        <option value="closeundaj(1)" disabled>Technical</option>
        <option value="accoci(1)">Fundamental</option>
        <option value="assets(1)">Fundamental</option>
        <option value="assetsavg(1)">Fundamental</option>
        <option value="assetsc(1)">Fundamental</option>
        <option value="assetsnc(1)">Fundamental</option>
        <option value="assetturnover(1)">Fundamental</option>
        <option value="bvps(1)">Fundamental</option>
        <option value="capex(1)">Fundamental</option>
        <option value="cashneq(1)">Fundamental</option>
        <option value="cashnequsd(1)">Fundamental</option>
        <option value="cor(1)">Fundamental</option>
        <option value="consolinc(1)">Fundamental</option>
        <option value="currentratio(1)">Fundamental</option>
        <option value="de(1)">Fundamental</option>
        <option value="debt(1)">Fundamental</option>
        <option value="debtc(1)">Fundamental</option>
        <option value="debtnc(1)">Fundamental</option>
        <option value="debtusd(1)">Fundamental</option>
        <option value="deferredrev(1)">Fundamental</option>
        <option value="depamor(1)">Fundamental</option>
        <option value="deposits(1)">Fundamental</option>
        <option value="divyield(1)">Fundamental</option>
        <option value="dps(1)">Fundamental</option>
        <option value="ebit(1)">Fundamental</option>
        <option value="ebitda(1)">Fundamental</option>
        <option value="ebitdamargin(1)">Fundamental</option>
        <option value="ebitdausd(1)">Fundamental</option>
        <option value="ebitusd(1)">Fundamental</option>
        <option value="ebt(1)">Fundamental</option>
        <option value="eps(1)">Fundamental</option>
        <option value="epsdil(1)">Fundamental</option>
        <option value="epsusd(1)">Fundamental</option>
        <option value="equity(1)">Fundamental</option>
        <option value="equityavg(1)">Fundamental</option>
        <option value="equityusd(1)">Fundamental</option>
        <option value="ev(1)">Fundamental</option>
        <option value="evebit(1)">Fundamental</option>
        <option value="evebitda(1)">Fundamental</option>
        <option value="fcf(1)">Fundamental</option>
        <option value="fcfps(1)">Fundamental</option>
        <option value="fxusd(1)">Fundamental</option>
        <option value="gp(1)">Fundamental</option>
        <option value="grossmargin(1)">Fundamental</option>
        <option value="intangibles(1)">Fundamental</option>
        <option value="intexp(1)">Fundamental</option>
        <option value="invcap(1)">Fundamental</option>
        <option value="invcapavg(1)">Fundamental</option>
        <option value="inventory(1)">Fundamental</option>
        <option value="investments(1)">Fundamental</option>
        <option value="investmentsc(1)">Fundamental</option>
        <option value="investmentsnc(1)">Fundamental</option>
        <option value="liabilities(1)">Fundamental</option>
        <option value="liabilitiesc(1)">Fundamental</option>
        <option value="liabilitiesnc(1)">Fundamental</option>
        <option value="marketcap(1)">Fundamental</option>
        <option value="ncf(1)">Fundamental</option>
        <option value="ncfbus(1)">Fundamental</option>
        <option value="ncfcommon(1)">Fundamental</option>
        <option value="ncfdebt(1)">Fundamental</option>
        <option value="ncfdiv(1)">Fundamental</option>
        <option value="ncff(1)">Fundamental</option>
        <option value="ncfi(1)">Fundamental</option>
        <option value="ncfinv(1)">Fundamental</option>
        <option value="ncfo(1)">Fundamental</option>
        <option value="ncfx(1)">Fundamental</option>
        <option value="netinc(1)">Fundamental</option>
        <option value="netinccmn(1)">Fundamental</option>
        <option value="netinccmnusd(1)">Fundamental</option>
        <option value="netincdis(1)">Fundamental</option>
        <option value="netincnci(1)">Fundamental</option>
        <option value="netmargin(1)">Fundamental</option>
        <option value="opex(1)">Fundamental</option>
        <option value="opinc(1)">Fundamental</option>
        <option value="payables(1)">Fundamental</option>
        <option value="payoutratio(1)">Fundamental</option>
        <option value="pb(1)">Fundamental</option>
        <option value="pe(1)">Fundamental</option>
        <option value="pe1(1)">Fundamental</option>
        <option value="ppnenet(1)">Fundamental</option>
        <option value="prefdivis(1)">Fundamental</option>
        <option value="price(1)">Fundamental</option>
        <option value="ps(1)">Fundamental</option>
        <option value="ps1(1)">Fundamental</option>
        <option value="recievables(1)">Fundamental</option>
        <option value="retearn(1)">Fundamental</option>
        <option value="revenue(1)">Fundamental</option>
        <option value="revenueusd(1)">Fundamental</option>
        <option value="rnd(1)">Fundamental</option>
        <option value="roa(1)">Fundamental</option>
        <option value="roe(1)">Fundamental</option>
        <option value="roic(1)">Fundamental</option>
        <option value="ros(1)">Fundamental</option>
        <option value="sbcomp(1)">Fundamental</option>
        <option value="sgna(1)">Fundamental</option>
        <option value="sharefactor(1)">Fundamental</option>
        <option value="sharesbas(1)">Fundamental</option>
        <option value="shareswa(1)">Fundamental</option>
        <option value="shareswadil(1)">Fundamental</option>
        <option value="sps(1)">Fundamental</option>
        <option value="tangibles(1)">Fundamental</option>
        <option value="taxassets(1)">Fundamental</option>
        <option value="taxexp(1)">Fundamental</option>
        <option value="taxliabilities(1)">Fundamental</option>
        <option value="tbvps(1)">Fundamental</option>
        <option value="workingcapital(1)">Fundamental</option>
    </datalist>
</template>

<template name="ranking">
    <input list="ranking" id="rankingInput">
    <datalist id="ranking">
        <option value="open(1)" disabled>Technical</option>
        <option value="high(1)" disabled>Technical</option>
        <option value="low(1)" disabled>Technical</option>
        <option value="close(1)" disabled>Technical</option>
        <option value="volume(1)" disabled>Technical</option>
        <option value="dividends(1)" disabled>Technical</option>
        <option value="closeundaj(1)" disabled>Technical</option>
        <option value="aggregation">Aggregation</option>
        <option value="accoci(1)">Fundamental</option>
        <option value="assets(1)">Fundamental</option>
        <option value="assetsavg(1)">Fundamental</option>
        <option value="assetsc(1)">Fundamental</option>
        <option value="assetsnc(1)">Fundamental</option>
        <option value="assetturnover(1)">Fundamental</option>
        <option value="bvps(1)">Fundamental</option>
        <option value="capex(1)">Fundamental</option>
        <option value="cashneq(1)">Fundamental</option>
        <option value="cashnequsd(1)">Fundamental</option>
        <option value="cor(1)">Fundamental</option>
        <option value="consolinc(1)">Fundamental</option>
        <option value="currentratio(1)">Fundamental</option>
        <option value="de(1)">Fundamental</option>
        <option value="debt(1)">Fundamental</option>
        <option value="debtc(1)">Fundamental</option>
        <option value="debtnc(1)">Fundamental</option>
        <option value="debtusd(1)">Fundamental</option>
        <option value="deferredrev(1)">Fundamental</option>
        <option value="depamor(1)">Fundamental</option>
        <option value="deposits(1)">Fundamental</option>
        <option value="divyield(1)">Fundamental</option>
        <option value="dps(1)">Fundamental</option>
        <option value="ebit(1)">Fundamental</option>
        <option value="ebitda(1)">Fundamental</option>
        <option value="ebitdamargin(1)">Fundamental</option>
        <option value="ebitdausd(1)">Fundamental</option>
        <option value="ebitusd(1)">Fundamental</option>
        <option value="ebt(1)">Fundamental</option>
        <option value="eps(1)">Fundamental</option>
        <option value="epsdil(1)">Fundamental</option>
        <option value="epsusd(1)">Fundamental</option>
        <option value="equity(1)">Fundamental</option>
        <option value="equityavg(1)">Fundamental</option>
        <option value="equityusd(1)">Fundamental</option>
        <option value="ev(1)">Fundamental</option>
        <option value="evebit(1)">Fundamental</option>
        <option value="evebitda(1)">Fundamental</option>
        <option value="fcf(1)">Fundamental</option>
        <option value="fcfps(1)">Fundamental</option>
        <option value="fxusd(1)">Fundamental</option>
        <option value="gp(1)">Fundamental</option>
        <option value="grossmargin(1)">Fundamental</option>
        <option value="intangibles(1)">Fundamental</option>
        <option value="intexp(1)">Fundamental</option>
        <option value="invcap(1)">Fundamental</option>
        <option value="invcapavg(1)">Fundamental</option>
        <option value="inventory(1)">Fundamental</option>
        <option value="investments(1)">Fundamental</option>
        <option value="investmentsc(1)">Fundamental</option>
        <option value="investmentsnc(1)">Fundamental</option>
        <option value="liabilities(1)">Fundamental</option>
        <option value="liabilitiesc(1)">Fundamental</option>
        <option value="liabilitiesnc(1)">Fundamental</option>
        <option value="marketcap(1)">Fundamental</option>
        <option value="ncf(1)">Fundamental</option>
        <option value="ncfbus(1)">Fundamental</option>
        <option value="ncfcommon(1)">Fundamental</option>
        <option value="ncfdebt(1)">Fundamental</option>
        <option value="ncfdiv(1)">Fundamental</option>
        <option value="ncff(1)">Fundamental</option>
        <option value="ncfi(1)">Fundamental</option>
        <option value="ncfinv(1)">Fundamental</option>
        <option value="ncfo(1)">Fundamental</option>
        <option value="ncfx(1)">Fundamental</option>
        <option value="netinc(1)">Fundamental</option>
        <option value="netinccmn(1)">Fundamental</option>
        <option value="netinccmnusd(1)">Fundamental</option>
        <option value="netincdis(1)">Fundamental</option>
        <option value="netincnci(1)">Fundamental</option>
        <option value="netmargin(1)">Fundamental</option>
        <option value="opex(1)">Fundamental</option>
        <option value="opinc(1)">Fundamental</option>
        <option value="payables(1)">Fundamental</option>
        <option value="payoutratio(1)">Fundamental</option>
        <option value="pb(1)">Fundamental</option>
        <option value="pe(1)">Fundamental</option>
        <option value="pe1(1)">Fundamental</option>
        <option value="ppnenet(1)">Fundamental</option>
        <option value="prefdivis(1)">Fundamental</option>
        <option value="price(1)">Fundamental</option>
        <option value="ps(1)">Fundamental</option>
        <option value="ps1(1)">Fundamental</option>
        <option value="recievables(1)">Fundamental</option>
        <option value="retearn(1)">Fundamental</option>
        <option value="revenue(1)">Fundamental</option>
        <option value="revenueusd(1)">Fundamental</option>
        <option value="rnd(1)">Fundamental</option>
        <option value="roa(1)">Fundamental</option>
        <option value="roe(1)">Fundamental</option>
        <option value="roic(1)">Fundamental</option>
        <option value="ros(1)">Fundamental</option>
        <option value="sbcomp(1)">Fundamental</option>
        <option value="sgna(1)">Fundamental</option>
        <option value="sharefactor(1)">Fundamental</option>
        <option value="sharesbas(1)">Fundamental</option>
        <option value="shareswa(1)">Fundamental</option>
        <option value="shareswadil(1)">Fundamental</option>
        <option value="sps(1)">Fundamental</option>
        <option value="tangibles(1)">Fundamental</option>
        <option value="taxassets(1)">Fundamental</option>
        <option value="taxexp(1)">Fundamental</option>
        <option value="taxliabilities(1)">Fundamental</option>
        <option value="tbvps(1)">Fundamental</option>
        <option value="workingcapital(1)">Fundamental</option>
    </datalist>
</template>

<template name="operator">
    <select name="operator" id="operatorInput" size="1">
        <option value=">"> > </option>
        <option value="lt"> &lt; </option>
        <option value="="> = </option>
        <option value="!="> != </option>
        <option value=">="> >= </option>
        <option value="<="> &lt;= </option>
    </select>
</template>

<template name="sector">
    <select name="sector" id ="sector" size="1">
        <option value="all">All Sectors</option>
        <option value="energy">Energy</option>
        <option value="materials">Materials</option>
        <option value="industrials">Industrials</option>
        <option value="consumerDiscretionary">Consumer Discretionary</option>
        <option value="consumerStaples">Consumer Staples</option>
        <option value="healthCare">Health Care</option>
        <option value="Financials">Financials</option>
        <option value="informationTechnology">Information Technology</option>
        <option value="telecommunicationServices">Telecommunication Services</option>
        <option value="utilities">Utilities</option>
        <option value="realEstate">Real Estate</option>
    </select>
</template>

<template name="definitions">
    <div id="main2">
        <h2>Definitions</h2>
        <h3>Technical</h3>
        <ul style="color: green">
            <li><d><strong>open</strong> - The opening share price, adjusted for stock splits and stock dividends.</d></li>
            <li><d><strong>high</strong> - The high share price, adjusted for stock splits and stock dividends.</d></li>
            <li><d><strong>low</strong> - The low share price, adjusted for stock splits and stock dividends.</d></li>
            <li><d><strong>close</strong> - The open share closing, adjusted for stock splits and stock dividends.</d></li>
            <li><d><strong>volume</strong> - The traded volume, adjusted for stock splits and stock dividends.</d></li>
            <li><d><strong>dividends</strong> - The dividends per share unit, adjusted for stock splits and stock dividends.
                Includes spinoffs where identified.</d></li>
            <li><d><strong>closeundaj</strong> - The closing share price, not adjusted for stock splits and stock dividends.</d></li>
        </ul>
        <h3>Fundamental</h3>
        <ul style="color: green">
            <li><d><strong>accoci</strong> - A component of [Equity] representing the accumulated change in equity
                from transactions and other events and circumstances from non-owner sources; net of tax effect;
                at period end. Includes foreign currency translation items; certain pension adjustments; unrealized
                gains and losses on certain investments in debt and equity securities.</d></li>
            <li><d><strong>assets</strong> - Sum of the carrying amounts as of the balance sheet date of all
                assets that are recognized. Major components are [CashnEq]; [Investments];[Intangibles];
                [PPNENet];[TaxAssets] and [Receivables].</d></li>
            <li><d><strong>assetsavg</strong> - Average asset value for the period used in calculation of [ROE]
                and [ROA]; derived from [Assets].</d></li>
            <li><d><strong>assetsc</strong> - The current portion of [Assets]; reported if a company operates a
                classified balance sheet that segments current and non-current assets.</d></li>
            <li><d><strong>assetsnc</strong> - Amount of non-current assets; for companies that operate a
                classified balance sheet. Calculated as the different between Total Assets [Assets] and
                Current Assets [AssetsC].</d></li>
            <li><d><strong>assetturnover</strong> - Asset turnover is a measure of a firms operating efficiency;
                calculated by dividing [Revenue] by [AssetsAVG]. Often a component of DuPont ROE analysis.</d></li>
            <li><d><strong>bvps</strong> - Measures the ratio between [Equity] and [SharesWA].</d></li>
            <li><d><strong>capex</strong> - A component of [NCFI] representing the net cash inflow (outflow)
                associated with the acquisition & disposal of long-lived; physical & intangible assets that are
                used in the normal conduct of business to produce goods and services and are not intended for
                resale. Includes cash inflows/outflows to pay for construction of self-constructed assets & software.</d></li>
            <li><d><strong>cashneq</strong> - A component of [Assets] representing the amount of currency on
                hand as well as demand deposits with banks or financial institutions.</d></li>
            <li><d><strong>cashnequsd</strong> - [CashnEq] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>cor</strong> - The aggregate cost of goods produced and sold and services rendered
                during the reporting period.</d></li>
            <li><d><strong>consolinc</strong> - The portion of profit or loss for the period; net of income taxes;
                which is attributable to the consolidated entity; before the deduction of [NetIncNCI].</d></li>
            <li><d><strong>currentratio</strong> - The ratio between [AssetsC] and [LiabilitiesC]; for companies
                that operate a classified balance sheet.</d></li>
            <li><d><strong>de</strong> - Measures the ratio between [Liabilities] and [Equity].</d></li>
            <li><d><strong>debt</strong> - A component of [Liabilities] representing the total amount of current
                and non-current debt owed. Includes secured and unsecured bonds issued; commercial paper;
                notes payable; credit facilities; lines of credit; capital lease obligations; and convertible notes.</d></li>
            <li><d><strong>debtc</strong> - The current portion of [Debt]; reported if the company operates a
                classified balance sheet that segments current and non-current liabilities.</d></li>
            <li><d><strong>debtnc</strong> - The non-current portion of [Debt] reported if the company operates
                a classified balance sheet that segments current and non-current liabilities.</d></li>
            <li><d><strong>debtusd</strong> - [Debt] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>deferredrev</strong> - A component of [Liabilities] representing the carrying amount
                of consideration received or receivable on potential earnings that were not recognized as revenue;
                including sales; license fees; and royalties; but excluding interest income.</d></li>
            <li><d><strong>depamor</strong> - A component of operating cash flow representing the aggregate net
                amount of depreciation; amortization; and accretion recognized during an accounting period.
                As a non-cash item; the net amount is added back to net income when calculating cash provided
                by or used in operations using the indirect method.</d></li>
            <li><d><strong>deposits</strong> - A component of [Liabilities] representing the total of all deposit
                liabilities held; including foreign and domestic; interest and noninterest bearing. May include
                demand deposits; saving deposits; Negotiable Order of Withdrawal and time deposits among others.</d></li>
            <li><d><strong>divyield</strong> - Dividend Yield measures the ratio between a company's [DPS] and its [Price].</d></li>
            <li><d><strong>dps</strong> -  Aggregate dividends declared during the period for each split-adjusted
                share of common stock outstanding. Includes spinoffs where identified.</d></li>
            <li><d><strong>ebit</strong> - Earnings Before Interest and Tax is calculated by adding [TaxExp]
                and [IntExp] back to [NetInc].</d></li>
            <li><d><strong>ebitda</strong> - EBITDA is a non-GAAP accounting metric that is widely used when
                assessing the performance of companies; calculated by adding [DepAmor] back to [EBIT].</d></li>
            <li><d><strong>ebitdamargin</strong> - Measures the ratio between a company's [EBITDA] and [Revenue].</d></li>
            <li><d><strong>ebitdausd</strong> - [EBITDA] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>ebitusd</strong> - [EBIT] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>ebt</strong> - Earnings Before Tax is calculated by adding [TaxExp] back to [NetInc].</d></li>
            <li><d><strong>eps</strong> - Earnings per share as calculated and reported by the company.
                Approximates to the amount of [NetIncCmn] for the period per each [SharesWA].</d></li>
            <li><d><strong>epsdil</strong> - Earnings per diluted share as calculated and reported by the company.
                Approximates to the amount of [NetIncCmn] for the period per each [SharesWADil].</d></li>
            <li><d><strong>epsusd</strong> - [EPS] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>equity</strong> - A principal component of the balance sheet; in addition to [Liabilities]
                and [Assets]; that represents the total of all stockholders' equity (deficit) items; net of
                receivables from officers; directors; owners; and affiliates of the entity which are attributable to the parent.</d></li>
            <li><d><strong>equityavg</strong> - Average equity value for the period used in calculation of [ROE];
                derived from [Equity].</d></li>
            <li><d><strong>equityusd</strong> - [Equity] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>ev</strong> - Enterprise value is a measure of the value of a business as a whole;
                calculated as [MarketCap] plus [DebtUSD] minus [CashnEqUSD].</d></li>
            <li><d><strong>evebit</strong> - Measures the ratio between [EV] and [EBITUSD].</d></li>
            <li><d><strong>evebitda</strong> - Measures the ratio between [EV] and [EBITDAUSD].</d></li>
            <li><d><strong>fcf</strong> - Free Cash Flow is a measure of financial performance calculated as
                [NCFO] minus [CapEx].</d></li>
            <li><d><strong>fcfps</strong> - Free Cash Flow per Share is a valuation metric calculated by
                dividing [FCF] by [SharesWA].</d></li>
            <li><d><strong>fxusd</strong> - The exchange rate used for the conversion of foreign currency to USD
                for non-US companies that do not report in USD.</d></li>
            <li><d><strong>gp</strong> - Aggregate revenue [Revenue] less cost of revenue [CoR] directly
                attributable to the revenue generation activity.</d></li>
            <li><d><strong>grossmargin</strong> - Gross Margin measures the ratio between a company's [GP] and [Revenue].</d></li>
            <li><d><strong>intangibles</strong> - A component of [Assets] representing the carrying amounts of
                all intangible assets and goodwill as of the balance sheet date; net of accumulated amortization
                and impairment charges.</d></li>
            <li><d><strong>intexp</strong> - Amount of the cost of borrowed funds accounted for as interest expense.</d></li>
            <li><d><strong>invcap</strong> - Invested capital is an input into the calculation of [ROIC]; and is
                calculated as: [Debt] plus [Assets] minus [Intangibles] minus [CashnEq] minus [LiabilitiesC].
                Please note this calculation method is subject to change.</d></li>
            <li><d><strong>invcapavg</strong> - Average invested capital value for the period used in the
                calculation of [ROIC]; and derived from [InvCap]. Invested capital is an input into the
                calculation of [ROIC]; and is calculated as: [Debt] plus [Assets] minus [Intangibles] minus
                [CashnEq] minus [LiabilitiesC]. Please note this calculation method is subject to change.</d></li>
            <li><d><strong>inventory</strong> - A component of [Assets] representing the amount after valuation
                and reserves of inventory expected to be sold; or consumed within one year or operating cycle; if longer.</d></li>
            <li><d><strong>investments</strong> - A component of [Assets] representing the total amount of
                marketable and non-marketable securties; loans receivable and other invested assets.</d></li>
            <li><d><strong>investmentsc</strong> - The current portion of [Investments]; reported if the company
                operates a classified balance sheet that segments current and non-current assets.</d></li>
            <li><d><strong>investmentsnc</strong> - The non-current portion of [Investments]; reported if the
                company operates a classified balance sheet that segments current and non-current assets.</d></li>
            <li><d><strong>liabilities</strong> - Sum of the carrying amounts as of the balance sheet date of
                all liabilities that are recognized. Principal components are [Debt]; [DeferredRev];
                [Payables];[Deposits]; and [TaxLiabilities].</d></li>
            <li><d><strong>liabilitiesc</strong> - The current portion of [Liabilities]; reported if the company
                operates a classified balance sheet that segments current and non-current liabilities.</d></li>
            <li><d><strong>liabilitiesnc</strong> - The non-current portion of [Liabilities]; reported if the
                company operates a classified balance sheet that segments current and non-current liabilities.</d></li>
            <li><d><strong>marketcap</strong> - Represents the product of [SharesBas]; [Price] and [ShareFactor]</d></li>
            <li><d><strong>ncf</strong> - Principal component of the cash flow statement representing the amount
                of increase (decrease) in cash and cash equivalents. Includes [NCFO]; investing [NCFI] and
                financing [NCFF] for continuing and discontinued operations; and the effect of exchange rate
                changes on cash [NCFX].</d></li>
            <li><d><strong>ncfbus</strong> - A component of [NCFI] representing the net cash inflow (outflow)
                associated with the acquisition & disposal of businesses; joint-ventures; affiliates; and other named investments.</d></li>
            <li><d><strong>ncfcommon</strong> - A component of [NCFF] representing the net cash inflow (outflow)
                from common equity changes. Includes additional capital contributions from share issuances and
                exercise of stock options; and outflow from share repurchases.</d></li>
            <li><d><strong>ncfdebt</strong> - A component of [NCFF] representing the net cash inflow (outflow)
                from issuance (repayment) of debt securities.</d></li>
            <li><d><strong>ncfdiv</strong> - A component of [NCFF] representing dividends and dividend equivalents
                paid on common stock and restricted stock units.</d></li>
            <li><d><strong>ncff</strong> - A component of [NCF] representing the amount of cash inflow (outflow)
                from financing activities; from continuing and discontinued operations. Principal components of
                financing cash flow are: issuance (purchase) of equity shares; issuance (repayment) of debt
                securities; and payment of dividends & other cash distributions.</d></li>
            <li><d><strong>ncfi</strong> - A component of [NCF] representing the amount of cash inflow (outflow)
                from investing activities; from continuing and discontinued operations. Principal components of
                investing cash flow are: capital (expenditure) disposal of equipment [CapEx]; business (acquisitions)
                disposition [NCFBus] and investment (acquisition) disposal [NCFInv].</d></li>
            <li><d><strong>ncfinv</strong> - A component of [NCFI] representing the net cash inflow (outflow)
                associated with the acquisition & disposal of investments; including marketable securities and loan originations.</d></li>
            <li><d><strong>ncfo</strong> - A component of [NCF] representing the amount of cash inflow (outflow)
                from operating activities; from continuing and discontinued operations.</d></li>
            <li><d><strong>ncfx</strong> - A component of Net Cash Flow [NCF] representing the amount of increase
                (decrease) from the effect of exchange rate changes on cash and cash equivalent balances held in foreign currencies.</d></li>
            <li><d><strong>netinc</strong> - The portion of profit or loss for the period; net of income taxes;
                which is attributable to the parent after the deduction of [NetIncNCI] from [ConsolInc];
                and before the deduction of [PrefDivIS].</d></li>
            <li><d><strong>netinccmn</strong> - The amount of net income (loss) for the period due to common
                shareholders. Typically differs from [NetInc] to the parent entity due to the deduction of [PrefDivIS].</d></li>
            <li><d><strong>netinccmnusd</strong> - [NetIncCmn] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>netincdis</strong> - Amount of loss (income) from a disposal group; net of income tax;
                reported as a separate component of income.</d></li>
            <li><d><strong>netincnci</strong> - The portion of income which is attributable to non-controlling
                interest shareholders; subtracted from [ConsolInc] in order to obtain [NetInc].</d></li>
            <li><d><strong>netmargin</strong> - Measures the ratio between a company's [NetIncCmn] and [Revenue].</d></li>
            <li><d><strong>opex</strong> - Operating expenses represents the total expenditure on [SGnA]; [RnD] and other
                operating expense items; it excludes [CoR].</d></li>
            <li><d><strong>opinc</strong> - Operating income is a measure of financial performance before the
                deduction of [IntExp]; [TaxExp] and other Non-Operating items. It is calculated as [GP] minus [OpEx].</d></li>
            <li><d><strong>payables</strong> - A component of [Liabilities] representing trade and non-trade payables.</d></li>
            <li><d><strong>payoutratio</strong> - The percentage of earnings paid as dividends to common stockholders.
                Calculated by dividing [DPS] by [EPSUSD].</d></li>
            <li><d><strong>pb</strong> - Measures the ratio between [MarketCap] and [EquityUSD].</d></li>
            <li><d><strong>pe</strong> - Measures the ratio between [MarketCap] and [NetIncCmnUSD]</d></li>
            <li><d><strong>pe1</strong> - An alternative to [PE] representing the ratio between [Price] and [EPSUSD].</d></li>
            <li><d><strong>ppnenet</strong> - A component of [Assets] representing the amount after accumulated
                depreciation; depletion and amortization of physical assets used in the normal conduct of business
                to produce goods and services and not intended for resale.</d></li>
            <li><d><strong>prefdivis</strong> - Income statement item reflecting dividend payments to preferred
                stockholders. Subtracted from Net Income to Parent [NetInc] to obtain Net Income to
                Common Stockholders [NetIncCmn].</d></li>
            <li><d><strong>price</strong> - The price per common share adjusted for stock splits but not
                adjusted for dividends; used in the computation of [PE1]; [PS1]; [DivYield] and [SPS].</d></li>
            <li><d><strong>ps</strong> - Measures the ratio between [MarketCap] and [RevenueUSD].</d></li>
            <li><d><strong>ps1</strong> - An alternative calculation method to [PS]; that measures the ratio
                between a company's [Price] and it's [SPS].</d></li>
            <li><d><strong>receivables</strong> - A component of [Assets] representing trade and non-trade receivables.</d></li>
            <li><d><strong>retearn</strong> - A component of [Equity] representing the cumulative amount of the
                entities undistributed earnings or deficit. May only be reported annually by certain companies;
                rather than quarterly.</d></li>
            <li><d><strong>revenue</strong> - Amount of Revenue recognized from goods sold; services rendered; insurance premiums;
                or other activities that constitute an earning process. Interest income for financial institutions
                is reported net of interest expense and provision for credit losses.</d></li>
            <li><d><strong>revenueusd</strong> - [Revenue] in USD; converted by [FXUSD].</d></li>
            <li><d><strong>rnd</strong> - A component of [OpEx] representing the aggregate costs incurred in a planned search or
                critical investigation aimed at discovery of new knowledge with the hope that such knowledge will
                be useful in developing a new product or service.</d></li>
            <li><d><strong>roa</strong> - Return on assets measures how profitable a company is [NetIncCmn]
                relative to its total assets [AssetsAvg].</d></li>
            <li><d><strong>roe</strong> - Return on equity measures a corporation's profitability by calculating
                the amount of [NetIncCmn] returned as a percentage of [EquityAvg].</d></li>
            <li><d><strong>roic</strong> - Return on Invested Capital is ratio estimated by dividing [EBIT] by
                [InvCapAvg]. [InvCap] is calculated as: [Debt] plus [Assets] minus [Intangibles] minus [CashnEq]
                minus [LiabilitiesC]. Please note this calculation method is subject to change.</d></li>
            <li><d><strong>ros</strong> - Return on Sales is a ratio to evaluate a company's operational efficiency;
                calculated by dividing [EBIT] by [Revenue]. ROS is often a component of DuPont ROE analysis.</d></li>
            <li><d><strong>sbcomp</strong> - A component of [NCFO] representing the total amount of noncash;
                equity-based employee remuneration. This may include the value of stock or unit options;
                amortization of restricted stock or units; and adjustment for officers' compensation. As noncash;
                this element is an add back when calculating net cash generated by operating activities using the indirect method.</d></li>
            <li><d><strong>sgna</strong> - A component of [OpEx] representing the aggregate total costs related to selling a
                firm's product and services; as well as all other general and administrative expenses.
                Direct selling expenses (for example; credit; warranty; and advertising) are expenses that can
                be directly linked to the sale of specific products. Indirect selling expenses are expenses that
                cannot be directly linked to the sale of specific products; for example telephone expenses;
                Internet; and postal charges. General and administrative expenses include salaries of non-sales
                personnel; rent; utilities; communication; etc.</d></li>
            <li><d><strong>sharefactor</strong> - Share factor is a multiplicant in the calculation of [MarketCap]
                and is used to adjust for: American Depository Receipts (ADRs) that represent more or
                less than 1 underlying share; and; companies which have different earnings share for different
                share classes (eg Berkshire Hathaway - BRKB).</d></li>
            <li><d><strong>sharesbas</strong> - The number of shares or other units outstanding of the entity's
                capital or common stock or other ownership interests; as stated on the cover of related periodic
                report (10-K/10-Q); after adjustment for stock splits.</d></li>
            <li><d><strong>shareswa</strong> - The weighted average number of shares or units issued and outstanding
                that are used by the company to calculate [EPS]; determined based on the timing of issuance of
                shares or units in the period.</d></li>
            <li><d><strong>shareswadil</strong> - The weighted average number of shares or units issued and
                outstanding that are used by the company to calculate [EPSDil]; determined based on the timing
                of issuance of shares or units in the period.</d></li>
            <li><d><strong>sps</strong> - Sales per Share measures the ratio between [RevenueUSD] and [SharesWA].</d></li>
            <li><d><strong>tangibles</strong> - The value of tangibles assets calculated as the difference
                between [Assets] and [Intangibles].</d></li>
            <li><d><strong>taxassets</strong> - A component of [Assets] representing tax assets and receivables.</d></li>
            <li><d><strong>taxexp</strong> - Amount of current income tax expense (benefit) and deferred income
                tax expense (benefit) pertaining to continuing operations.</d></li>
            <li><d><strong>taxliabilities</strong> - A component of [Liabilities] representing outstanding tax liabilities.</d></li>
            <li><d><strong>tbvps</strong> - Measures the ratio between [Tangibles] and [SharesWA].</d></li>
            <li><d><strong>workingcapital</strong> - Working capital measures the difference between [AssetsC]
                and [LiabilitiesC].</d></li>
        </ul>
    </div>
</template>