<template name="portfolio">
    <div id="main2">
        <h2>Portfolio</h2>
        <p>Here you can monitor the growth of your
            portfolio and sale stock at their current price.
        </p>
        <table width="100%" border="1">
            <thead>
            <tr>
                <th>Value</th>
                <th>Cost of Purchases</th>
                <th>Proceeds from Sales</th>
                <th>Growth</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="value" align="center">-</td>
                <td id="cost" align="center">-</td>
                <td id="proceeds" align="center">-</td>
                <td id="growth" align="center">-</td>
            </tr>
            </tbody>
        </table>
    <div class="hrb"></div>
        <h3>Holdings</h3>
        <p>This a list of the stocks you currently have in your portfolio.</p>
        <table id="holdings" width="100%" border="1">
            <thead>
            <tr>
                <th>Stock</th>
                <th>Bought at Price</th>
                <th>Current Price</th>
                <th>Growth</th>
                <th>Date of Purchase</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    <div class="hrb"></div>
        <h3>History</h3>
        <p>This is a list of your previous holdings.</p>
        <table id="history" width="100%" border="1">
            <thead>
            <tr>
                <th>Stock</th>
                <th>Price at Purchase</th>
                <th>Date of Purchase</th>
                <th>Price at Sale</th>
                <th>Date of Sale</th>
                <th>Growth</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="hrb"></div>
    </div>
</template>