<template name="screener">
    <div id="main2">
        <h2>Screener</h2>
        <p>Put in your own rules or select one of your strategies
            with pre-determined rules via the tools bar.</p>
        <form id="screen" method="get" action="screener/test.php">
            <p>Rules:</p>
            <ul id="rules" style="color: green">
                <li>{{> variable}}
                    {{> operator}}
                    {{> variable}}
                    <button class="initialDelete"> &times; </button>
                </li>
            </ul>
            <div id="rulesError"></div>
            <br>
            <input type="submit" class="add button1" value="Add Rule">
            <p>Order by: {{> ranking}}
                <input type="radio" name="rank" value="asc" checked="checked"> Ascending
                <input type="radio" name="rank" value="desc"> Descending</p>
            <p>Top: <input type="number" id="quantity" name="quantity" min="1" max="100"></p>
            <input type="submit" value="Submit" class="search button1" style="display: inline-block;
                                                                      width: 200px; height: 50px;">
            <input type="submit" value="Save Rules" class="save button1" style="display: inline-block;
                                                                      width: 200px; height: 50px;">
        </form> <br>
        <div id="errors"></div>
        <div class="hrb">&nbsp;</div>
        <div id="results"></div>
    </div>
</template>