header {
    /*padding: 20px;*/
    font-size: 25px;
    color: black;
    position: relative;
}

body {
    font-family: "Lato", sans-serif;
}

a.one {
    color: forestgreen;
}

a.two {
    color: forestgreen;
}

b {
    color: forestgreen;
}

d {
    color: black;
}

w {
    color: white;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #555;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 10px;
}

.sidebar a {
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    margin: auto;
}

#main2 {
    transition: margin-right .5s;
    padding: 75px;
    margin: auto;
    /*margin-top:30px;*/
}

.round {
    border-radius: 20px;
    border: 2px solid green;
    padding: 0px;
    position: relative;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D9ECFF;
    margin: 1em 0;
    padding: 0;
    color: black;
}

.hrb {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #282828;
    margin: 1em 0;
    padding: 0;
}

a.one:link, a.one:visited, a.logout:visited, a.logout:link {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.one:hover, a.one:active, a.logout:hover, a.logout:active {
    background-color: darkgreen;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    /*text-align: left;*/
    padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: forestgreen;
    color: white;
}

/*td {
    text-align: center; /* center checkbox horizontally */
/*    vertical-align: middle; /* center checkbox vertically */
/*}*/


#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 98%;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    margin-top: 10px;
    /*position: relative;*/
}

/* Show red borders when filled, but invalid */
input[data-state="invalid"] {
    border-color: green;
}

.create {
    margin: auto;
    display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid forestgreen;
    border-radius: 50%;
    margin: auto;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid green; /* Green */
    border-radius: 8px;
    outline:none;
    padding: 5px;
}

img {
    width: 65%;
    /*height: 400px;*/

}
