<head>
    <title>Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="document.getElementById('mySidebar').style.width = '0';
                                                            document.getElementById('main').style.marginRight= '0';
                                                            document.getElementById('main2').style.marginRight= '0';">×</a>
        {{> sidebar}}
    </div>
    <div id="main">
        {{> template}}
    </div>
</body>

<template name="template">
    <div id="navbar">
        <ul id="nav">
            <li><a class="one" href="{{pathFor 'home'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">Home</a></li>
            <li><a class="one" href="{{pathFor 'screener'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">Screener</a></li>
            <li><a class="one" href="{{pathFor 'backtester'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">Backtester</a></li>
            <li><a class="one" href="{{pathFor 'portfolio'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">Portfolio</a></li>
           <li><a class="one" href="{{pathFor 'discovery'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">Discovery</a></li>
            <li style="float:right"><a class="one" href="" onclick="document.getElementById('mySidebar').style.width = '270px';
            document.getElementById('main').style.marginRight = '270px';
            document.getElementById('main2').style.marginRight = '270px'">☰ Tools</a></li>
        </ul>
    </div>
</template>


<template name="home">
    <div id="main2">
            <h2>Welcome</h2>
            <p>With our services you can save time analysing
                thousands of stocks by letting us do it for you.
                Using fundamental and technical analysis, we have a Stock Screening
                and Backtesting service that can be tailored
                as you wish. Create a strategy of your own,
                or use already tried and tested strategies by
                leading investors over the last century.
                Once you have found stocks you would like to
                invest in, you can add them to your portfolio and
                track their progress in the coming months and years.</p>
            <h3>What makes us different to the rest?</h3>
            <p>As well as other services, we can also create
                a completely unique strategy for you, via our
                evolutionary algorithm. This algorithm randomly
                generates a set of rules via chromosome encoding,
                that gives the most profitable stocks on a
                long-term basis from our large set of historical
                data. These can serve as wise rules to use when
                looking for stocks with a great potential to grow
                and a relatively low level of risk.</p>
            <p>For more information on our large collection of variables available, check out their
                <a class="two" href="{{pathFor 'definitions'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">Definitions</a>.</p>
        <div class="hrb"></div>
    </div>
</template>

<template name="sidebar">
    <w>
    <h2>Strategies</h2>
    <ul id="strategies" style="padding: 20px">
        <li><a class="two tinytitans" href="">Tiny Titans</a></li>
        <li><a class="two zulu" href="">Zulu Principle</a></li>
    </ul>
    <h2>Saved</h2>
    <ul id="saved" style="padding: 20px"></ul>
    <h2>Terminology</h2>
    <h3>Fundamental:</h3>
    <ul id="fundamentals" style = "height:120px;width:180px;overflow:auto;
                    padding: 20px">
        <li><span title="Accumulated Other Comprehensive Income"> <strong>accoci</strong>(quarter) </span></li>
        <li><span title="Total Assets"><strong>assets</strong>(quarter)</span></li>
        <li><span title="Average Assets"><strong>assetavg</strong>(quarter)</span></li>
        <li><span title="Current Assets"><strong>assetsc</strong>(quarter)</span></li>
        <li><span title="Non-Current Assets"><strong>assetsnc</strong>(quarter)</span></li>
        <li><span title="Asset Turnover"><strong>assetturnover</strong>(quarter)</span></li>
        <li><span title="Book Value per Share"><strong>bvps</strong>(quarter)</span></li>
        <li><span title="Capital Expenditure"><strong>capex</strong>(quarter)</span></li>
        <li><span title="Cash & Equivalents"><strong>cashneq</strong>(quarter)</span></li>
        <li><span title="Cash and Equivalents (USD)"><strong>cashnequsd</strong>(quarter)</span></li>
        <li><span title="Cost of Revenue"><strong>cor</strong>(quarter)</span></li>
        <li><span title="Consolidated Income"><strong>consolinc</strong>(quarter)</span></li>
        <li><span title="Current Ratio"><strong>currentratio</strong>(quarter)</span></li>
        <li><span title="Debt to Equity Ratio"><strong>de</strong>(quarter)</span></li>
        <li><span title="Total Debt"><strong>debt</strong>(quarter)</span></li>
        <li><span title="Current Debt"><strong>debtc</strong>(quarter)</span></li>
        <li><span title="Non-Current Debt"><strong>debtnc</strong>(quarter)</span></li>
        <li><span title="Total Debt (USD)"><strong>debtusd</strong>(quarter)</span></li>
        <li><span title="Deferred Revenue"><strong>deferredrev</strong>(quarter)</span></li>
        <li><span title="Depreciation Amortization & Accretion"><strong>depamor</strong>(quarter)</span></li>
        <li><span title="Deposit Liabilities"><strong>deposits</strong>(quarter)</span></li>
        <li><span title="Dividend Yield"><strong>divyield</strong>(quarter)</span></li>
        <li><span title="Dividends per Basic Common Share"><strong>dps</strong>(quarter)</span></li>
        <li><span title="Earnings Before Interest & Taxes (EBIT)"><strong>ebit</strong>(quarter)</span></li>
        <li><span title="Earnings Before Interest Taxes & Depreciation Amortization (EBITDA)"><strong>ebitda</strong>(quarter)</span></li>
        <li><span title="EBITDA Margin"><strong>ebitdamargin</strong>(quarter)</span></li>
        <li><span title="Earnings Before Interest Taxes & Depreciation Amortization (USD)"><strong>ebitdausd</strong>(quarter)</span></li>
        <li><span title="Earning Before Interest & Taxes (USD)"><strong>ebitusd</strong>(quarter)</span></li>
        <li><span title="Earnings Before Tax"><strong>ebt</strong>(quarter)</span></li>
        <li><span title="Earnings per Basic Share"><strong>eps</strong>(quarter)</span></li>
        <li><span title="Earnings per Diluted Share"><strong>epsdil</strong>(quarter)</span></li>
        <li><span title="Earnings per Basic Share (USD)"><strong>epsusd</strong>(quarter)</span></li>
        <li><span title="Shareholders Equity"><strong>equity</strong>(quarter)</span></li>
        <li><span title="Average Equity"><strong>equityavg</strong>(quarter)</span></li>
        <li><span title="Shareholders Equity (USD)"><strong>equityusd</strong>(quarter)</span></li>
        <li><span title="Enterprise Value"><strong>ev</strong>(quarter)</span></li>
        <li><span title="Enterprise Value over EBIT"><strong>evebit</strong>(quarter)</span></li>
        <li><span title="Enterprise Value over EBITDA"><strong>evebitda</strong>(quarter)</span></li>
        <li><span title="Free Cash Flow"><strong>fcf</strong>(quarter)</span></li>
        <li><span title="Free Cash Flow per Share"><strong>fcfps</strong>(quarter)</span></li>
        <li><span title="Foreign Currency to USD Exchange Rate"><strong>fxusd</strong>(quarter)</span></li>
        <li><span title="Gross Profit"><strong>gp</strong>(quarter)</span></li>
        <li><span title="Gross Margin"><strong>grossmargin</strong>(quarter)</span></li>
        <li><span title="Goodwill and Intangible Assets"><strong>intangibles</strong>(quarter)</span></li>
        <li><span title="Interest Expense"><strong>intexp</strong>(quarter)</span></li>
        <li><span title="Invested Capital"><strong>invcap</strong>(quarter)</span></li>
        <li><span title="Invested Capital Average"><strong>invcapavg</strong>(quarter)</span></li>
        <li><span title="Inventory"><strong>inventory</strong>(quarter)</span></li>
        <li><span title="Investments"><strong>investments</strong>(quarter)</span></li>
        <li><span title="Investments Current"><strong>investmentsc</strong>(quarter)</span></li>
        <li><span title="Investments Non-Current"><strong>investmentsnc</strong>(quarter)</span></li>
        <li><span title="Total Liabilities"><strong>liabilities</strong>(quarter)</span></li>
        <li><span title="Current Liabilities"><strong>liabilitiesc</strong>(quarter)</span></li>
        <li><span title="Non-Current Liabilities"><strong>liabilitiesnc</strong>(quarter)</span></li>
        <li><span title="Market Capitalization"><strong>marketcap</strong>(quarter)</span></li>
        <li><span title="Net Cash Flow / Change in Cash & Cash Equivalents"><strong>ncf</strong>(quarter)</span></li>
        <li><span title="Net Cash Flow - Business Acquisitions and Disposals"><strong>ncfbus</strong>(quarter)</span></li>
        <li><span title="Issuance (Purchase) of Equity Shares"><strong>ncfcommon</strong>(quarter)</span></li>
        <li><span title="Issuance (Repayment) of Debt Securities"><strong>ncfdebt</strong>(quarter)</span></li>
        <li><span title="Payment of Dividends & Other Cash Distributions"><strong>ncfdiv</strong>(quater)</span></li>
        <li><span title="Net Cash Flow from Financing"><strong>ncff</strong>(quarter)</span></li>
        <li><span title="Net Cash Flow from Investing"><strong>ncfi</strong>(quarter)</span></li>
        <li><span title="Net Cash Flow - Investment Acquisitions and Disposals"><strong>ncfinv</strong>(quarter)</span></li>
        <li><span title="Net Cash Flow from Operations"><strong>ncfo</strong>(quarter)</span></li>
        <li><span title="Effect of Exchange Rate Changes on Cash"><strong>ncfx</strong>(quarter)</span></li>
        <li><span title="Net Income"><strong>netinc</strong>(quarter)</span></li>
        <li><span title="Net Income Common Stock"><strong>netinccmn</strong>(quarter)</span></li>
        <li><span title="Net Income Common Stock (USD)"><strong>netinccmnusd</strong>(quarter)</span></li>
        <li><span title="Net Loss Income From Discontinued Operations"><strong>netincdis</strong>(quarter)</span></li>
        <li><span title="Net Income to Non-Controlling Interests"><strong>netincnci</strong>(quarter)</span></li>
        <li><span title="Profit Margin"><strong>netmargin</strong>(quarter)</span></li>
        <li><span title="Operating Expenses"><strong>opex</strong>(quarter)</span></li>
        <li><span title="Operating Income"><strong>opinc</strong>(quarter)</span></li>
        <li><span title="Trade and Non-Trade Payables"><strong>payables</strong>(quarter)</span></li>
        <li><span title="Payout Ratio"><strong>payoutratio</strong>(quarter)</span></li>
        <li><span title="Price to Book Value"><strong>pb</strong>(quarter)</span></li>
        <li><span title="Price Earnings (Damodaran Method)"><strong>pe</strong>(quarter)</span></li>
        <li><span title="Price to Earnings Ratio"><strong>pe1</strong>(quarter)</span></li>
        <li><span title="Property Plant & Equipment Net"><strong>ppnenet</strong>(quarter)</span></li>
        <li><span title="Preferred Dividends Income Statement Impact"><strong>prefdivis</strong>(quarter)</span></li>
        <li><span title="Share Price (Adjusted Close)"><strong>price</strong>(quarter)</span></li>
        <li><span title="Price Sales (Damodaran Method)"><strong>ps</strong>(quarter)</span></li>
        <li><span title="Price to Sales Ratio"><strong>ps1</strong>(quarter)</span></li>
        <li><span title="Trade and Non-Trade Receivables"><strong>receivables</strong>(quarter)</span></li>
        <li><span title="Accumulated Retained Earnings (Deficit)"><strong>retearn</strong>(quarter)</span></li>
        <li><span title="Revenue"><strong>revenue</strong>(quarter)</span></li>
        <li><span title="Revenues (USD)"><strong>revenueusd</strong>(quarter)</span></li>
        <li><span title="Research and Development Expense"><strong>rnd</strong>(quarter)</span></li>
        <li><span title="Return on Average Assets"><strong>roa</strong>(quarter)</span></li>
        <li><span title="Return on Average Equity"><strong>roe</strong>(quarter)</span></li>
        <li><span title="Return on Invested Capital"><strong>roic</strong>(quarter)</span></li>
        <li><span title="Return on Sales"><strong>ros</strong>(quarter)</span></li>
        <li><span title="Share Based Compensation"><strong>sbcomp</strong>(quarter)</span></li>
        <li><span title="Selling General and Administrative Expense"><strong>sgna</strong>(quarter)</span></li>
        <li><span title="Share Factor"><strong>sharefactor</strong>(quarter)</span></li>
        <li><span title="Shares (Basic)"><strong>sharesbas</strong>(quarter)</span></li>
        <li><span title="Weighted Average Shares"><strong>shareswa</strong>(quarter)</span></li>
        <li><span title="Weighted Average Shares Diluted"><strong>shareswadil</strong>(quarter)</span></li>
        <li><span title="Sales per Share"><strong>sps</strong>(quarter)</span></li>
        <li><span title="Tangible Asset Value"><strong>tangibles</strong>(quarter)</span></li>
        <li><span title="Tax Assets"><strong>taxassets</strong>(quarter)</span></li>
        <li><span title="Income Tax Expense"><strong>taxexp</strong>(quarter)</span></li>
        <li><span title="Tax Liabilities"><strong>taxliabilities</strong>(quarter)</span></li>
        <li><span title="Tangible Assets Book Value per Share"><strong>tbvps</strong>(quarter)</span></li>
        <li><span title="Working Capital"><strong>workingcapital</strong>(quarter)</span></li>
    </ul><br>
    <h3>Technical:</h3>
    <ul id="technicals" style = "height:120px;width:180px;overflow:auto;
                    padding: 20px">
        <li><span title="Open Price - Split Adjusted"><strong>open</strong>(day)</span></li>
        <li><span title="High Price - Split Adjusted"><strong>high</strong>(day)</span></li>
        <li><span title="Low Price - Split Adjusted"><strong>low</strong>(day)</span></li>
        <li><span title="Close Price - Split Adjusted"><strong>close</strong>(day)</span></li>
        <li><span title="Volume - Split Adjusted"><strong>volume</strong>(day)</span></li>
        <li><span title="Dividends per Share - Split Adjusted"><strong>dividends</strong>(day)</span></li>
        <li><span title="Close Price - Unadjusted"><strong>closeundaj</strong>(day)</span></li>
    </ul>
    <br>
    <p>Full definitions can be found <a class="two" href="{{pathFor 'definitions'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">here</a>.</p>
    <h2>Usage</h2>
    <p>(quarter) → number of quarters in the past the data is retrieved from.</p>
    <p>(day) → number of days in the past the data is retrieved from.</p>
    <br><br><br>
    </w>
</template>

<!--  <li><a class="one" href="{{pathFor 'portfolio'}}" onclick="document.getElementById('mySidebar').style.width = '0px';
                                                                  document.getElementById('main').style.marginRight= '0';
                                                                  document.getElementById('main2').style.marginRight= '0';">Portfolio</a></li> -->
